
#sidebar_main .sidebar_main_header .sidebar_logo {
    overflow: hidden;
    height: 100%;
}
a.sSidebar_hide.sidebar_logo_large img {
    position: relative;
    margin-top: 2px;
}
#header_main{
	background: #17304f;
}
.selectize-dropdown {
    margin-top: 0px !important;
}
