.btn {
    padding: 8px 35px;
}
.btn-default {
    color: #616e75;
    background-color: #ffe091;
    border-color: #ccc;
    margin-top: 9px;
    border-radius: 30px;
    font-weight: 900;
    border: 2px solid;
}
.btn-default:hover {
    color: #fbe09a;
    background-color: #183351;
    border-color: #adadad;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background-color: #183351e8;
    margin-top: 10%;
    border-radius: 10px;
}
.form-control{
	margin-bottom: 10px;
}
a.login {
    color: #999;
}
#login{
	background-image: url(../img/bg-visi.jpg);
	background-position: center;
    background-size: cover;
}
.btn-primary:hover {
    color: #183351;
    background-color: #f7d370;
    border-color: #204d74;
}
h1.h3.mb-3.font-weight-normal {
    color: #fff;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.siswa {
    margin: 7px;
}
.list-group {
    margin-bottom: 30px !important;
}
.card-body {
    padding: 0 !important;
}
.badge {
    top: -1px;
    left: -2px;
}
.table-bordered.full-desc button a{
    color: #fff;
    text-decoration: none;
}
button.btn.btn-default.btn-siswa {
    border-radius: 50px;
    border: 3px solid #868e96;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 35px;
    margin-top: 0;
}
button.btn.btn-default.btn-siswa:focus {
    box-shadow: none;
}
a:focus{
    outline: none;
}
.modal-dialog {
    /*margin: 0 auto !important;*/
    top: 160px;
}
.text-muted {
    color: #343a40 !important;
}
button.btn.btn-default.btn-ortu {
    border-radius: 50px;
    border: 3px solid #868e96;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 35px;
    margin-top: 3px;
}
button.btn.btn-default.btn-ortu:focus {
    box-shadow: none;
}
nav.navbar.navbar-default.navbar-fixed-top.parents {
    padding: 0;
}
.ul-li ul {
    list-style: inside;
    margin-bottom: 10px;
}